<section>
<article>
<h1> Eu sou {{name}} </h1>
<br>
<P>
Eu sou da {{paisdeorigen}}
</P>
<br>
<p>Eu tenho: {{idade}} de edad </p>
<p>Eu naci em {{ciudade}} en {{paisdeorigen}} </p>
<p>Este sou eu:</p>
<img #fotosamuel [src]="urlimagen" [alt]="descriptor">

<br>
<div #gostos>
<p>Eu adoro: </p>
<br>
<p> Comer en: <img #fotosamuel1 [src]="urlimagen1" [alt]="descriptor1"></p>
<p> Me gusta ver peliculas: <img #fotosamuel2 [src]="urlimagen2" [alt]="descriptor2"></p>
<p> Mi anime favorito: <img #fotosamuel3 [src]="urlimagen3" [alt]="descriptor3"></p>
</div>


</article>


</section>